{% extends 'pos/base.html' %}

{% block content %}

<h2 class="page-title mb-3">Cashier</h2>

<!-- Product Grid -->
<div class="product-grid">

  {% for p in products %}
  <div class="product-card">

      <div class="product-name">{{ p.name }}</div>

      {% if p.description %}
      <div class="product-description">{{ p.description }}</div>
      {% endif %}

      <div class="product-price">₱{{ p.price }}</div>

      <button class="btn-primary add-to-cart-btn">Add to Cart</button>

  </div>
  {% empty %}
  <p>No products available.</p>
  {% endfor %}

</div>

{% endblock %}
