{% extends 'pos/base.html' %}

{% block content %}
<div class="container my-4">
  <h2>All Orders</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Customer</th>
        <th>Total Price</th>
        <th>Delivery Status</th>
        <th>Scheduled At</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr id="order-{{ order.id }}">
        <td>{{ order.id }}</td>
        <td>{{ order.customer.name|default:"Walk-in" }}</td>
        <td>{{ order.total }}</td>
        <td id="delivery_status-{{ order.id }}">{{ order.delivery_status|capfirst }}</td>
        <td>{{ order.delivery_scheduled_at|date:"M d, Y H:i" }}</td>
    </tr>
      {% empty %}
      <tr>
        <td colspan="5">No orders found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
