<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery_list</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<h2>Delivery List</h2>
  {% block content %}

 <div id="delivery-lists" style="flex-direction: column;">
    <h2>Delivered</h2>

    {% if delivered%}
    <ul>

      {% for d in delivered %}
        <li>{{ d.customer }} – {{ d.status }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No delivered items.</p>
  {% endif %}

  <h2>Transporting</h2>
  {% if transporting %}
    <ul>
      {% for t in transporting %}
        <li>{{ t.customer }} – {{ t.status }}</li>
      {% endfor %}
    </ul>
    {% else %}
        <p>No transporting items.</p>
  {% endif %}

  <h2>Picked Up</h2>
  {% if picked_up %}
    <ul>
      {% for p in picked_up %}
        <li>{{ p.customer }} – {{ p.status }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No picked up items.</p>
  {% endif %}
  </div>

  {% endblock %}

<ul>
  <li>
     <a href="{% url 'tracking_form' %}"> Update </a>
  </li>
 
  <li>
      <a href="{% url 'login' %}"> Create User </a>
  </li>
</ul>
  
  
</body>
</html>